#fout {
    display: none;
    color: red;
}

.ui-footer {
    bottom: 0px;
    height: 43px;
    width: 100%;
    text-align: center;
    position: fixed;
}

.ui-content {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
}

#page2 {
    text-align: center;
}
